@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wait {
  min-height: 100px;
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 30s;
}

.hoverblock {
  position: fixed;
  z-index: 1000;
  width: 560px;
  height: 315px;
  margin-top: -70px;
}

.blackout {
  background-color: black;
}
