.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  font-size: 75px;
  margin-bottom: 0.25em;
  color: #b50c00;
}

@keyframes fadeOut {
  0% { opacity: 1;}
  90% { opacity: 1;}
  100% { opacity: 0;}
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.wait {
  min-height: 100px;  
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 30s;
}